<h1>Bienvenido al Reto</h1>
<% #array = [];
    #array.push 5
   #cont = 0
   #rene = "rey"
   #sum = 2 +3
  #para tomar meel tiempo real
   #t = Time.now
   #para generar numeros aleaotrios en el parentesis va el limite

   #(variable.palabra).length
   #(t.strftime("%S")).to_s
   #ale.to_s
   #(@sustantivos.length).to_s
%>

  <div class="desva">
    <strong>Sustantivo es #@array :</strong>
    <p id="11"><%= @array[0]%></p>
    <strong>Sustantivo es #@array :</strong>
    <p id="12"><%= @array[1]%></p>
    <strong>Sustantivo es #@array :</strong>
    <p id="13"><%= @array[2]%></p>
    <strong>Sustantivo es #@array :</strong>
    <p id="14"><%= @array[3]%></p>
    <strong>Sustantivo es #@array :</strong>
    <p id="15"><%= @array[4]%></p><br>
  </div>

<p>=====================================================================</p>
  <strong>Completa el sustantivo que falta :</strong>
  <input type="text" id=1><br>
  <strong>Completa el sustantivo que falta :</strong>
  <input type="text" id=2><br>
  <strong>Completa el sustantivo que falta :</strong>
  <input type="text" id=3><br>
  <strong>Completa el sustantivo que falta :</strong>
  <input type="text" id=4><br>
  <strong>Completa el sustantivo que falta :</strong>
  <input type="text" id=5><br>

<button type="button" id="boton">Comience el reto</button>
<button type="button" id="boton2">Comience el reto</button>
